<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello Thymeleaf</title>
</head>
<body>
<h1 th:text="${message}"></h1>

<table>
    <tr th:each="val : ${list}">
        <td th:text="${val}"></td>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
    </tr>
</table>

<form action="#" method="post" th:action="@{/next}">
    <div th:each="user : ${userList}">
        <input name="id" th:text="${user.id} + ':' +  ${user.name}" type="radio" th:value="${user.id}">
    </div>
    <button type="submit">確認</button>
</form>

</body>
</html>